<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
  </div>
</div>




<div class="single">
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" ></div>
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" ></div>
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" ></div>
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" ></div>
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" ></div>
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" ></div>
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" ></div>
    <div><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" ></div>
</div>
